.idea
uv.lock
**/*/__pycache__
**/*/*.egg-info

# Backup files
*~
*.bak

# Setup documentation (local only)
SETUP_COMPLETE.md
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-1/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-1/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-1/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-10/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-10/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-10/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-11/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-11/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-11/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-12/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-12/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-12/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-13/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-13/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-13/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-14/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-14/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-14/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-15/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-15/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-15/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-2/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-2/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-2/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-3/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-3/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-3/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-4/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-4/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-4/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-5/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-5/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-5/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-6/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-6/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-6/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-7/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-7/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-7/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-8/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-8/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-8/train.log
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-9/args.yaml
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-9/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_unet_2025-09-30-9/train.log
src/models/rawnind_denoise/BayerDenoiser_utnet3_2025-09-30/args.yaml
src/models/rawnind_denoise/BayerDenoiser_utnet3_2025-09-30/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_utnet3_2025-09-30/train.log
src/models/rawnind_denoise/BayerDenoiser_utnet3_2025-09-30-1/args.yaml
src/models/rawnind_denoise/BayerDenoiser_utnet3_2025-09-30-1/train_cmd.sh.config
src/models/rawnind_denoise/BayerDenoiser_utnet3_2025-09-30-1/train.log
src/models/rawnind_denoise/Denoiser_identity_2025-09-30/args.yaml
src/models/rawnind_denoise/Denoiser_identity_2025-09-30/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_identity_2025-09-30/train.log
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-1/args.yaml
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-1/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-1/train.log
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-2/args.yaml
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-2/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-2/train.log
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-3/args.yaml
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-3/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-3/train.log
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-4/args.yaml
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-4/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-4/train.log
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-5/args.yaml
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-5/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_identity_2025-09-30-5/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-1/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-1/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-1/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-10/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-10/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-10/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-11/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-11/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-11/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-12/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-12/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-12/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-13/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-13/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-13/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-14/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-14/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-14/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-15/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-15/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-15/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-16/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-16/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-16/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-17/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-17/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-17/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-18/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-18/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-18/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-19/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-19/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-19/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-2/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-2/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-2/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-20/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-20/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-20/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-21/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-21/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-21/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-22/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-22/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-22/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-23/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-23/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-23/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-24/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-24/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-24/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-25/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-25/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-25/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-26/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-26/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-26/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-27/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-27/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-27/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-28/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-28/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-28/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-29/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-29/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-29/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-3/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-3/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-3/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-30/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-30/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-30/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-31/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-31/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-31/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-32/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-32/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-32/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-33/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-33/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-33/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-34/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-34/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-34/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-35/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-35/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-35/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-36/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-36/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-36/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-37/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-37/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-37/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-38/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-38/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-38/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-39/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-39/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-39/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-4/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-4/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-4/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-40/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-40/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-40/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-41/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-41/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-41/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-42/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-42/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-42/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-43/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-43/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-43/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-44/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-44/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-44/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-45/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-45/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-45/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-46/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-46/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-46/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-47/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-47/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-47/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-48/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-48/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-48/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-49/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-49/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-49/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-5/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-5/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-5/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-50/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-50/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-50/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-51/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-51/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-51/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-52/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-52/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-52/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-53/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-53/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-53/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-54/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-54/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-54/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-55/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-55/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-55/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-56/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-56/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-56/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-57/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-57/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-57/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-58/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-58/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-58/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-59/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-59/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-59/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-6/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-6/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-6/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-60/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-60/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-60/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-61/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-61/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-61/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-62/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-62/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-62/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-63/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-63/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-63/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-64/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-64/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-64/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-65/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-65/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-65/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-66/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-66/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-66/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-67/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-67/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-67/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-68/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-68/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-68/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-69/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-69/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-69/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-7/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-7/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-7/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-70/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-70/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-70/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-71/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-71/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-71/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-72/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-72/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-72/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-73/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-73/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-73/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-74/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-74/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-74/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-75/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-75/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-75/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-76/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-76/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-76/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-77/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-77/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-77/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-78/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-78/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-78/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-79/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-79/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-79/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-8/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-8/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-8/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-80/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-80/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-80/train.log
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-9/args.yaml
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-9/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_unet_2025-09-30-9/train.log
src/models/rawnind_denoise/Denoiser_utnet3_2025-09-30/args.yaml
src/models/rawnind_denoise/Denoiser_utnet3_2025-09-30/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_utnet3_2025-09-30/train.log
src/models/rawnind_denoise/Denoiser_utnet3_2025-09-30-1/args.yaml
src/models/rawnind_denoise/Denoiser_utnet3_2025-09-30-1/train_cmd.sh.config
src/models/rawnind_denoise/Denoiser_utnet3_2025-09-30-1/train.log
tmp/inimg/(0.503662109375, 0.28811565041542053, 8252.0).png
tmp/inimg/(0.5015157461166382, 0.2879774272441864, 24650.501953125).png
src/models/rawnind_dc/DenoiseCompress_ManyPriors_2025-09-30/args.yaml
src/models/rawnind_dc/DenoiseCompress_ManyPriors_2025-09-30/train_cmd.sh.config
src/models/rawnind_dc/DenoiseCompress_ManyPriors_2025-09-30/train.log
src/models/rawnind_dc/DenoiseCompress_ManyPriors_2025-09-30-1/args.yaml
src/models/rawnind_dc/DenoiseCompress_ManyPriors_2025-09-30-1/train_cmd.sh.config
src/models/rawnind_dc/DenoiseCompress_ManyPriors_2025-09-30-1/train.log
src/models/rawnind_dc/DenoiseCompress_standard_2025-09-30/args.yaml
src/models/rawnind_dc/DenoiseCompress_standard_2025-09-30/train_cmd.sh.config
src/models/rawnind_dc/DenoiseCompress_standard_2025-09-30/train.log
src/models/rawnind_dc/DenoiseCompress_standard_2025-09-30-1/args.yaml
src/models/rawnind_dc/DenoiseCompress_standard_2025-09-30-1/train_cmd.sh.config
src/models/rawnind_dc/DenoiseCompress_standard_2025-09-30-1/train.log
.serena/cache/python/document_symbols_cache_v23-06-25.pkl
